* {
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
}

#notice-developer-tools-opened {
    display: none !important;
}

::selection {
    background-color: #1D4ED8;
    background-color: #2563EB;
    background-color: #3B82F6;
    background-color: #FF4500;
    background-color: #05C30C;
    background-color: #7A6BFF;
    color: #F5F5F5;
}

@keyframes animate {
    25% {
        background-color: #05C30C;
        box-shadow: 0 0 2px 2px #05C30C;
    }

    75% {
        background-color: #05C30C;
        box-shadow: 0 0 6px 2px #05C30C;
    }
}

.selected-hehe * {
    color: #343dff !important;
    background-color: transparent !important;
}

.app-version {
    user-select: none !important;

    i {
        animation: animate 1.2s ease-in-out infinite;
    }
}


.app-version.off i {
    animation: none;
}

.p-toast {
    bottom: unset !important;
    left: unset !important;
    right: 16px;
    top: 72px;
    display: flex;
    flex-direction: column;
}

[role="alert"] {
    margin: 0 !important;
}