* {
    user-select: text !important;
    -moz-user-select: text !important;
    -webkit-user-select: text !important;
}

#notice-developer-tools-opened {
    display: none !important;
}

::selection {
    background-color: #1D4ED8;
    background-color: #2563EB;
    background-color: #3B82F6;
    background-color: #FF4500;
    background-color: #05C30C;
    background-color: #7A6BFF;
    color: #F5F5F5;
}

@keyframes animate {
    0% {
        background-color: #3B82F6;
        box-shadow: 0 0 3px 2px #3B82F6;
    }

    40% {
        background-color: #05C30C;
        box-shadow: 0 0 3px 2px #05C30C;
    }

    60% {
        background-color: #3B82F6;
        box-shadow: 0 0 3px 2px #3B82F6;
    }

    100% {
        background-color: #05C30C;
        box-shadow: 0 0 3px 2px #05C30C;
    }
}

.animation-by-syluu {
    animation: animate 0.4s ease !important;
}

.selected-hehe * {
    color: #343dff !important;
    background-color: transparent !important;
}

.ictu-page-test__test-panel__user-info>div>div:first-child {
    padding: 1px;
    border-radius: 50%;
}

.app-version {
    cursor: pointer;
    user-select: none !important;
}

/* p-toast {
    display: none !important;
} */

.p-toast {
    bottom: unset !important;
    left: unset !important;
    right: 16px;
    top: 72px;
    display: flex;
    flex-direction: column;
}

[role="alert"] {
    margin: 0 !important;
}